body{
    background-color: silver;
}

img{

    border-radius: 100px;
    width: 200px;
    height: 300px;
}
h1{ 
    color: whitesmoke
}
h2{
    color: red;
}

footer{
    border: solid;
    background-color: whitesmoke;
    padding-left: 700px;
}